<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
    <div class="error">
      <h1>500, server error.</h1>
      <p>
        We are working on fixing this issue. We are sorry for the inconvinience.
      </p>
    </div>

    <%- include('includes/end.ejs') %>
  </body>
</html>
