main {
  padding: 30px 0px;
}

.checkout_heading {
  text-align: center;
  font-size: 24px;
  margin: 30px 0 40px 0;
  font-weight: 600;
}

.checkout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-wrapper {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

/* LEFT SECTION */
.checkout-left {
  width: 65%;
}

.card {
  margin: 0px auto;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Form */
.checkout-form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.checkout-form label {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.checkout-form input,
.checkout-form textarea {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 0.9rem;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0 20px 0;
}

.payment-option {
  cursor: pointer;
  font-size: 0.95rem;
}

.place-order-btn {
  width: 180px;
  padding: 12px 20px;
  background-color: #e03232;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.place-order-btn:hover {
  background-color: #c12b2b;
  transform: scale(1.03);
}

/* RIGHT SECTION */
.checkout-right {
  width: 35%;
  display: flex;
  justify-content: center;
}

.summary-card {
  width: 90%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.summary-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.final {
  font-size: 18px;
  font-weight: 600;
}

.final-amount {
  color: #e03232;
}

/* Responsive */
@media (max-width: 900px) {
  .checkout-wrapper {
    flex-direction: column;
  }

  .checkout-left,
  .checkout-right {
    width: 100%;
  }

  .summary-card {
    width: 100%;
  }
}
