.placed_orders {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 30px 0px 50px 0px;
}

.timestamp {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.9;
}
.order_heading {
  font-size: 24px;
  font-weight: 600;
  margin-left: 35px;
}
.content {
  height: auto;
}
.un-list {
  padding: 0px 20px;
}
.unlist > li {
  margin: 0px;
}
article {
  width: 100%;
  margin: 20px 0px auto auto;
}
.outer {
  margin: 10px auto;
  border: 1px solid grey;
  max-width: 70%;
}
.purchase_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.invoice {
  text-align: center;
  margin-top: 20px;
}

.invoice_link {
  text-decoration: none;
  color: #e03232;
}

.invoice_link:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .info {
    display: none;
  }
  .price_form {
    justify-content: flex-start;
    gap: 30px;
  }
  .prodImg {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 800px) {
  .outer {
    max-width: 90%;
  }
  .price_form {
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .price_form p {
    font-size: 13px;
    font-weight: 400;
  }
  .boxmain {
    padding-left: 0px;
    padding-right: 0px;
  }
  .form {
    font-size: 13px;
  }
}
