.product-section-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 65px 0px 50px 0px;
}

.bigCard {
  margin: 50px auto;
  height: inherit;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

img {
  height: 400px;
  border-radius: 1.2rem;
}

.description {
  text-align: left;
}

.price_cartButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 30px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.back:hover {
  cursor: pointer;
  margin-bottom: 30px;
}

.back a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.back img {
  width: 18px;
  height: 18px;
}
.back p {
  color: red;
}

@media (max-width: 600px) {
  .bigCard {
    width: 400px;
    flex-direction: column;
    height: inherit;
    gap: 20px;
  }
}
