<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Welcome to Our Store</h1>
          <a href="/products" class="btn">Shop Now</a>
        </div>
      </section>
    </main>
  </body>
</html>
